.fondo {
    background:url('../IMAGENES/detail/fondo.png');
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: fixed;
}

.container {
    background-color: rgba(2, 192, 250, 0.287);
    margin: 100px auto;
    width: 55%;
    height: auto;
    border:solid 15px;
    border-radius: 200px;
    border-style:groove;
    border-color: rgb(9, 187, 207, 0.456);

}
.volver {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-weight: bold;
    width: 150px; 
    height: 70px;
    font-size: 23px;
    border-radius: 10px;
    padding: 17px 30px;
   
}

h1 {
    margin: 0 auto;
    width: 80%;
    display: flex;

    justify-content: center;
    flex-wrap: wrap;

    font-size: 60px;
    text-shadow: 
        4px 4px 2px rgba(219, 69, 224);
}


form {
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.campo {
    display: flex;
    flex-direction: column;
    width: 40%;
    display: flex;
}

.label {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    text-decoration: underline;
}

.input {
    font-size: 27px;
    margin-left: 5px;
    border: solid;
    border-color: rgba(219, 69, 224);
    margin-bottom: 10px;

}

.errores {
    font-size: 20px;
    font-weight: bold;
    color: rgb(250, 6, 6);   
    display: flex;
}

.tipos{
    display: wrap;
    display: flex;
    flex-wrap: wrap;
    gap: 0 15px;


}
.labelCheck {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    width: 140px;

}
.check {
    width:15px;
    height:15px;

}

.campoTipos {
    margin: 0 auto;
    width: 40%;

}
.crear {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    font-weight: bold;
    width: 150px; 
    height: 70px;
    font-size: 23px;
    border-radius: 10px;
    padding: 17px 30px;
   
}