.fondo{
    background:url('../IMAGENES/landing/fondo.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: fixed;
}

.container{
    margin: 350px auto;
    text-align: center;
    width: 700px;
    height: auto;
    border:solid 10px;
    border-radius: 1500px;
    border-style:groove;
    border-color: rgba(219, 69, 224, 0.456);
}
.gif{
    width: 20vw;
    height: 30vh;
}
#cargando {
    font-size: 70px;
    font-style:italic;

    text-shadow: 
        3px 3px 1px rgba(219, 69, 224),
        8px 8px 3px rgb(32, 123, 136);
        ;

}